* {
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: poppins;
  }
  
  .nav_section {
    background-color: firebrick;
    display: block;
    align-items: center;
    justify-content: center;
  
    padding: 30px 10px 30px 10px;
  }
  
  .nav_div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .nav_section h1 {
    color: white;
  }
  
  .nav_haqqinda:hover{
  transform: scale(1.1);
  transition: all 1s;
  }
  
  .nav_section img {
    width: 50px;
    height: 50px;
  }
  
  .nav_text {
    display: flex;
    float: left;
    align-items: center;
    gap: 30px;
  }
  
  .nav_div ul {
    display: flex;
    gap: 80px;
    padding-left: 700px;
    font-size: 23px;
    font-weight: 700;
    position: relative;
  }
  
  .nav_div a {
    color: white;
  }
  
  .nav_div button {
    background-color: cornflowerblue;
    border: 0px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
  }
  
  .nav_div button:hover {
    transition: all 1s;
    border-radius: 25px;
    transform: scale(1.3);
  }
  
  .material-symbols-outlined {
    color: white;
    position: absolute;
    right: 120px;
  }


  .main_section{
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(157, 157, 170);
  }

  .main_flex{
    display: flex;
    flex-direction: column;
    gap: 70px;
  }


  .text_div h1{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding: 40px 100px 50px 100px;
  }

  .first_div img{
width: 80px;

  }

  .second_div img{
    width: 80px;
  }

  .third_div img{
    width: 80px;
  }

  .fourh_div img{
    width: 80px;
  }


  .first_div span{
    font-size: 29px;
    font-weight: 700;
  }

  .second_div h2{
    font-size: 29px;
    font-weight: 700;
  }


  .third_div h3{
    font-size: 29px;
    font-weight: 700;
  }

  .fourh_div h4{
    font-size: 29px;
    font-weight: 700;
  }


  .first_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .second_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .third_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .fourh_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }